.border_custom {
    -fx-background-color: white;
    -fx-border-color: #ECECEC;
    -fx-border-width: 2px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
}
#definitionView {
   -fx-background-color: white;
   -fx-border-color: #ECECEC;
   -fx-border-width: 2px;
   -fx-background-radius: 8px;
   -fx-border-radius: 8px;
}